th {
    border: 1px solid red;
}

tbody tr td{
    border: 1px solid black;
    text-align: center;
    background-color:darkslategray
}

tbody tr input{
    width: 1.2rem
}

ul li{
    list-style: none;
}